<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-chip>
      <ion-avatar>
        <img src="assets/icon/mariz.jpg"/>
      </ion-avatar>
      <ion-label>Marizchelle Magtibay</ion-label>
    </ion-chip>

    <ion-title>
      ABOUT ME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ABOUT ME</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card>
  <img src="assets/icon/mariz.jpg" />
  <ion-icon name="logo-tumblr" size="large" color="primary" horizontal="end"></ion-icon>
  <ion-card-header>
    <ion-card-title></ion-card-title>
    <ion-card-subtitle>Marizchelle Magtibay</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    I'm Marizchelle Magtibay and I am 21 years old and I live in Estrella Mabini Batangas. I'm a student and a young entrepreneur.And we are three siblings and I am two of our siblings. And I study at Batangas State University Mabini Campus. 
  </ion-card-content>
</ion-card>

<ion-button color="medium">YES</ion-button> <ion-button [disabled]="true" color="medium">NO</ion-button>
<ion-fab>
  <ion-fab-button color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button color="medium">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="medium">
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="medium">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
